/*mobile*/
@media screen and (max-width: 480px){
body{
    margin: 0;
}

.burger-nav{
    display: block;
    height: 40px;
    width: 100%;
    background: url(dropdownbar.png) no-repeat 98%;
    cursor: pointer;
    background-color: burlywood;
}

header .wrapper{
    width: 100%;
    padding: 0;
}

header nav ul{
    margin: 0;
    overflow: hidden;
    background: #424040;
    padding: 0;
    height: 0;
}

header nav ul.open{
    height: auto;
}

header nav ul li{
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
    list-style-type: none;
}

header nav ul li a{
    color: #fff;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #817c7c;
}
}