/*mobile*/

@media screen and (max-width: 480px) {
    body {
        margin: 0;
        background-color: #f6f6f6;
    }
    .menu-nav {
        display: block;
        height: 40px;
        width: 100%;
        background: url(dropdownbar.png) no-repeat 98%;
        cursor: pointer;
        background-color: #014f9e;
    }

    .logo {
    position: absolute;
    width: 110px;
    }

    header nav ul {
        margin: 0;
        overflow: hidden;
        background: #424040;
        padding: 0;
        height: 0;
    }
    header nav ul.open {
        height: auto;
    }
    header nav ul li {
        float: none;
        text-align: left;
        width: 100%;
        margin: 0;
        list-style-type: none;
    }
    header nav ul li a {
        color: #fff;
        padding: 10px;
        display: block;
        text-decoration: none;
        border-bottom: 1px solid #817c7c;
    }

    figcaption{
        margin-left: 10px;
    }

    figure{
        background-color: burlywood;
    }

    .article-back {
        background-color: #fff;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 7%;
    }
    .article-back p {
        margin-left: 10px;
        padding: 2px;
    }

    .author {
        margin: 0;
    }

    .headline {
        margin-bottom: 10px;
    
    }
    .menu-nav ul li a {
        color: #262626;
        align-items: center;
        justify-items: end;
    }

    .menu-nav ul li a :active {
        color: #262626;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 10px;
        justify-content: space-evenly;
    
        max-width: 1100px;
        margin: 25px auto 30px;
        padding-left: 5%;
        padding-right: 5%;
    
        margin-bottom: 100px;
    }
    .article-front {
        position: relative;
    
    }
    .article-img {
        height: 350px;
        width: 100%;
        object-fit: cover;
    }
    .article-title {
        position: absolute;
        bottom: 0;
        width: 96%;
        padding: 2%;
        background-color: rgba(255, 255, 255, 0.2);
        color: black;
    }

    Footer {
        background: #333;
        color: rgb(158, 158, 158);
        text-align: center;
        padding: 20px;
        margin-top: 40px;
        width: 100%;
        border-top: solid;
        box-sizing: border-box;
    }
    footer li{
        list-style: none;
    }
    footer a {
        color: #fff;;
    }
    footer a :active {
        color: #fff;
    }
}

@media only screen and (min-width: 481px) {
    body {
        background-color: #f6f6f6;
        width: 100vw;
        padding: 0;
        margin: 0;
        font-family: sans-serif, serif, 'Times New Roman', Times, serif;
    }
    .logo {
        position: absolute;
        top: 15px;
        left: 20px;
        width: 120px;
        margin: 0%;
        padding: 0%;
        margin-left: auto;
    }

    img {
        display: block;
    }
    .menu {
        display: none;
    }
    header {
        position: fixed;
        top: 0%;
        left: 0%;
        height: 75px;
        width: 100%;
        padding: 0% 100px;
        background-color: #014f9e;
        display: block;
        z-index: 100;
    }
    .actionbar {
        width: 100%;
        transform: translateX(-100px);
        display: flex;
        justify-content: flex-end;
    }

    .actionbar ul {
        display: inline;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        padding:15px 0px 15px 5px;
    }

    .actionbar ul li {
        list-style: none;
    }

    .actionbar ul li a {
        color: #fff;
        padding: 10px 15px;
        text-decoration: none;
    }

    .actionbar ul li a.active {
        background: #fff;
        color: #262626;
    }

    .main-navbar img {
        margin-right: auto;
    }

    section{
        display: flex;
        flex-direction: column;
        max-width: 525px;
    }
    .container{
        justify-content: center;
    }

    figcaption{
        margin-left: 10px;
    }

    figure{
        margin-top: 100px;
        background-color: burlywood;
        max-width: 700px;
    }

    .article-back {
        background-color: #fff;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 7%;
    }
    .article-back p {
        margin-left: 10px;
    }

    .author {
        margin: 0;
    }

    .headline {
        margin-bottom: 10px;
    
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-gap: 10px;
        justify-content: space-evenly;
    
        max-width: 1100px;
        margin: 100px auto 30px;
        padding-left: 5%;
        padding-right: 5%;
    
        margin-bottom: 250px;
    }
    
    .article-front {
        position: relative;
    
    }
    
    .article-img {
        height: 350px;
        width: 100%;
        object-fit: cover;
    }
    
    .article-title {
        position: absolute;
        bottom: 0;
        width: 96%;
        padding: 2%;
        background-color: rgba(255, 255, 255, 0.2);
        color: black;
    }

   
    Footer {
        background: #333;
        color: rgb(158, 158, 158);
        text-align: center;
        padding: 20px;
        margin-top: 40px;
        width: 100%;
        border-top: solid;
        box-sizing: border-box;
    }
    footer li{
        list-style: none;
    }
    footer a {
        color: #fff;;
    }
    footer a :active {
        color: #fff;
    }
    footer li{
        list-style: none;
    }
    footer a {
        color: #fff;;
    }
    footer a :active {
        color: #fff;
    }
    a {
        color: #262626;;
    }
    a :active {
        color: #262626;
    }
}
@media only screen and (min-width: 768px) {
    section {
        max-width: 600px;
        margin-left: 10vw;
    
    }

}
@media only screen and (min-width: 1000px) {
    section {
        max-width: 800px;
        margin-left: 23vw;
        }
}